h1 {
    font-family: fantasy;
    font-weight: 100;
    text-align: center;
    background-color: cornflowerblue;
    border-style: groove;
    border-color: darkblue;
}

.mt-1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

body {
    background-color: rgb(83, 83, 182);
}


.list-group-data {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    text-emphasis-color: red;
}